<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/genero drama.css">
    <title>Drama</title>
</head>
<body>
    <h1>Drama</h1>

    <button onclick="votar()">Votar</button>
    <div>
        <img src="../img/a sociedade da nave drama.jpg">
        <details>
            <nav>
                <a href="https://youtu.be/9cjSePIf1l0">Trailer</a>
            </nav>
        </details>

        <img src="../img/a baleia drama.jpg">
        <details>
            <nav>
                <a href="https://youtu.be/GSUf-OKcDfg">Trailer</a>
            </nav>
        </details>

        <img src="../img/castelo de vidro drama.jpg">
        <details>
            <nav>
                <a href="https://youtu.be/eoyWhm35NTg">Trailer</a>
            </nav>
        </details>

        <img src="../img/central do brasil drama.jpg">
        <details>
            <nav>
                <a href="https://youtu.be/lARFBFxjLNI">Trailer</a>
            </nav>
        </details>

        <img src="../img/milagre na cela sete drama.jpg">
        <details>
            <nav>
                <a href="https://youtu.be/u_Zr0DADyIo">Trailer</a>
            </nav>
        </details>

        <img src="../img/minha solidao tem asas drama.jpg">
        <details>
            <nav>
                <a href="https://youtu.be/bZnXcRulBZM">Trailer</a>
            </nav>
        </details>

        <img src="../img/nosso lar drama.jpg">
        <details>
            <nav>
                <a href="https://youtu.be/UphsbVfZp14">Trailer</a>
            </nav>
        </details>

        <img src="../img/sem palavras drama.jpg">
        <details>
            <nav>
                <a href="https://youtu.be/lF34vZ1pLy8">Trailer</a>
            </nav>
        </details>

        <img src="../img/um olhar do paraiso drama.jpg">
        <details>
            <nav>
                <a href="https://youtu.be/WAg88Vlh_tw">Trailer</a>
            </nav>
        </details>
    </div>

    <!--parte do javascript-->
    <script src="../js/javascript.js"></script>
</body>
</html>