<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/tela de login.css">
    <title>login</title>
</head>
<body>
    <h1>Tele Movie</h1>

    <section>
        <input type = "text" placeholder = "Email">
        <br>
        <br>
        <input type = "password" placeholder = "Senha">
        <br>
        <br>            
        <button onclick="longar()">Login</a></button>
    </section>

    <br>

    <div class="filmes">
        <img src="../img/infantil.jfif">
        <img src="../img/comedia romantica.jfif">
        <img src="../img/romance.jfif">
        <img src="../img/infantill.jfif">
        <img src="../img/comedia romanticaa.jfif">
        <img src="../img/acao.jfif">
        <img src="../img/terror.jfif">
        <img src="../img/drama.jfif">
        <img src="../img/acaoo.jfif">
        <img src="../img/dramaa.jfif">
        <img src="../img/romancee.jfif">
        <img src="../img/terrorr.jfif">
    </div>

    <!--parte de javascript-->

    <script src="../js/javascript.js"></script>
    
</body>
</html>